*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    align-items: left;
}
header{
    background-color: #898aae;
    color: white;
    padding: 0px;
    text-align: center;
    font-size: 24px;
    img {
        vertical-align: middle;
        margin-right: 10px;
        display: inline-block;
    }
}
main{
    flex:1;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px;
}
.survey-section {
    width: 100%;
    max-width: 600px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    h2 {
        text-align: center;
        margin-bottom: 20px;
    };

    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        label {
            font-weight: bold;
        }
        .radio-group {
            display: flex;
            flex-direction: row;
            flex: 1;
            gap: 10px;

        }
        button {
            padding: 10px 20px;
            background-color: #898aae;
            color: white;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
            text-decoration: none;
            &:hover {
                background-color: #7a7db0;
            }
        }
    }

}